.navbar {
    height: 80px;
    width: 100%;
    background: rgb(26, 27, 29);
    background: linear-gradient(90deg, rgba(26, 27, 29, 1) 0%, rgba(38, 38, 45, 1) 35%, rgba(26, 27, 29, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

$quest_nugget: #e0dccf;
$coal_font: #83817f;

.svgIcon {
    fill: $coal_font;
    width: 40px;
    height: 40px;
}

.selectedIcon {
    filter: drop-shadow(0px 0px 10px #ed9c11);
    fill: $quest_nugget;
}
